<div class="container mt-4">
  <div class="row offset-md-1">
    <h3>マイページ</h3>
  </div>
  <div class="row mb-2 mt-3">
    <div class="col-2">
      <h3>登録情報</h3>
    </div>
    <div>
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>氏名</th>
            <td><%= @customer.family_name %>  <%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
            <td><%= @customer.family_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.post_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <h3><strong>配送先</strong></h3>
    </div>
    <div class="col-2">
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3><strong>注文履歴</strong></h3>
    </div>
    <div class="col-2">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
