<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>商品新規登録</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @item,local:true do |f| %>
      <div class="form-group">
        <%= f.label :商品画像 %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.label :商品名 %>
        <%= f.text_field :name, placeholder: "商品名" %>
      </div>
      <div class="form-group">
        <%= f.label :商品説明 %>
        <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
      </div>
      <div class="form-group">
        <%= f.label :ジャンル %>
        <%= f.select :genre_id,Genre.all, placeholder: "--選択してください--" %>
      </div>
      <div class="form-group">
        <%= f.label :税抜価格 %>
        <%= f.select :genre_id,Genre.all, placeholder: "--選択してください--" %>
      </div>
      

      <% end %>
    </div>
  </div>
</div>