<div class="container">
    <div class="col-md-3 offset-md-1">
      <h4 class="bg-light my-5 text-center">配送先編集</h4>
    </div>

  <%= form_with model: @address, local: true do |f| %>
    <div class="row mt-4 form-group">
      <%= f.label :post_code, "郵便番号(ハイフンなし)", class: "col-md-3" %>
      <%= f.text_field :post_code, class: "offset-md-1" %>
    </div>

    <div class="row form-group">
      <%= f.label :address, "住所", class: "col-md-3" %>
      <%= f.text_area :address, class: "offset-md-1 col-4" %>
    </div>

    <div class="row mb-5 form-group">
      <%= f.label :name, "宛名", class: "col-md-3" %>
      <%= f.text_field :name, class: "offset-md-1" %>
      <%= f.submit "変更内容を保存", class: "btn btn-success offset-md-2 col-2" %>
    </div>

  <% end %>
</div>