<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h4 class="bg-light">新規会員登録</h4>

    <%= form_with model:@customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

       <div class="field">
        <%= f.label "名前", class:"col-md-3" %>
        <%= f.label "(姓)" %>
        <%= f.text_field :family_name, :placeholder => "片桐", class:"col-md-2" %>
        <%= f.label "(名)" %>
        <%= f.text_field :first_name, :placeholder => "はいり", class:"col-md-2" %>
      </div>

      <div class="field">
        <%= f.label "フリガナ", class:"col-md-3" %>
        <%= f.label "(セイ)" %>
        <%= f.text_field :family_name_kana, :placeholder => "カタギリ", class:"col-md-2" %>
        <%= f.label "(メイ)" %>
        <%= f.text_field :first_name_kana, :placeholder => "ハイリ", class:"col-md-2" %>
      </div>

      <div class="field">
        <%= f.label "メールアドレス", class:"col-md-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-2" %>
      </div>

      <div class="field">
        <%= f.label "郵便番号(ハイフンなし)", class:"col-md-3" %>
        <%= f.text_field :post_code, :placeholder => "1234567", class:"col-md-2" %>
      </div>

      <div class="field">
        <%= f.label "住所", class:"col-md-3" %>
        <%= f.text_field :address, :placeholder => "大阪府大阪市中央区難波千日前11-6", class:"col-md-7" %>
      </div>

      <div class="field">
        <%= f.label "電話番号", class:"col-md-3" %>
        <%= f.text_field :telephone, :placeholder => "000-111-2222" %>
      </div>

      <div class="field">
        <%= f.label "パスワード(6桁以上)", class:"col-md-3" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label "パスワード(確認用)", class:"col-md-3" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="form offset-md-3 md-3">
          <%= f.submit "Sign up",class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <h4 class="bg-light">既に登録済みの方</h4>
      <p><%= link_to "こちら", "/customers/sign_in" %> からログインしてください。</p>
    </div>
  </div>
</div>

