<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">注文情報入力</span></h3>
  </div>

  <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
    <h5>支払方法</h5>
    <div class="form-group row">
      <div class="col-md-6 ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
      </div>
    </div>