<div class="container p-5">

  <div class="row">
    <div class="col-lg-12 ml-5 mb-3">
      <h3>注文履歴詳細</h3>
    </div>
    <div class="col-lg-7">
      <strong>注文情報</strong>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <p><%= @order.post_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </p>
            </td>
          </tr>
          <tr>
            <td>支払い方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td class="table-active">ステータス</td>
            <td><%= @order.status %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-bordered">
        <tr>
          <td>商品合計</td>
          <td><%= (@order.total_payment - @order.postage).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-9">
      <strong>注文内容</strong>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.each do |f| %>
            <tr>
              <td><%= f.item.name %></td>
                <td>¥<%= (f.item.price*1.1).to_s(:delimited) %></td>
                <td><%= f.amount %></td>
                <td>¥<%= (f.item.price*f.amount).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>