<div class="container">
  <div class="row">
    <%= render "public/items/genre_search" %>

    <div class="col-md-8 offset-md-1">
      <h1>商品一覧</h1>
      <%= @items.each do |item| %>
       <div class="item">
         <%= image_tag item.get_image(80,80) %>
         <%= item.name %>
         <%= item.price %>
       </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>



