<div class="container">
 <p><%= notice %></p>
  <div class="row">
    <%= render "public/items/genre_search", genres: @genres %>

    <div class="col-md-3 col-sm-3">
        <%#= image_tag @item.get_image(200,200) %>
        <%= image_tag @item.image, size: "200x170", class: "img-fluid" %>
    </div>

    <div class="col-md-6 col-sm-6">
     <h5><strong><%= @item.name %></strong></h5><br>
      <%= @item.introduction %><br>
        ¥<%= @item.add_tax_price.to_s(:delimited) %>-(税込) <p>[¥<%= @item.price %>-]</p>

      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :customer_id, value: @customer_id %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <!--個数選択↓-->
        <%= f.select :amount, *[1..20], include_blank: "個数選択" %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>


    </div>
  </div>
</div>